@charset "UTF-8";
/*------------------------------------*\
    YOUR-PROJECT.CSS
\*------------------------------------*/
/**
 *
 * compass watch
 *
 * Here we set up some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "compass-inuit";

/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

html{
    font: 1em/1.5 Georgia, serif;
    background-color: #fff;
    color: #333;
}
.wrapper{
    max-width: 960px;
    padding: 0 24px;
    margin: 0 auto;
}
.footer{
    margin-bottom: 0;
}​
