@charset "UTF-8";
/*------------------------------------*\
    YOUR-PROJECT.CSS
\*------------------------------------*/
/**
 *
 * compass watch
 *
 * Here we set up some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "compass-inuit/defaults";

// Optionally Import Everything
// @import "compass-inuit";

// Optionally Import Sections
// @import "compass-inuit/generic";
// @import "compass-inuit/base";
// @import "compass-inuit/objects";
// @import "compass-inuit/helpers";

// Generic
@import "compass-inuit/generic/mixins";
@import "compass-inuit/generic/normalize";
@import "compass-inuit/generic/reset";
@import "compass-inuit/generic/clearfix";
@import "compass-inuit/generic/shared";

// Base
@import "compass-inuit/base/main";
@import "compass-inuit/base/headings";
@import "compass-inuit/base/paragraphs";
@import "compass-inuit/base/smallprint";
@import "compass-inuit/base/quotes";
@import "compass-inuit/base/code";
@import "compass-inuit/base/images";
@import "compass-inuit/base/lists";
@import "compass-inuit/base/tables";
@import "compass-inuit/base/forms";

// Objects
@import "compass-inuit/objects/grids";
@import "compass-inuit/objects/flexbox";
@import "compass-inuit/objects/columns";
@import "compass-inuit/objects/nav";
@import "compass-inuit/objects/options";
@import "compass-inuit/objects/pagination";
@import "compass-inuit/objects/breadcrumb";
@import "compass-inuit/objects/media";
@import "compass-inuit/objects/marginalia";
@import "compass-inuit/objects/island";
@import "compass-inuit/objects/block-list";
@import "compass-inuit/objects/matrix";
@import "compass-inuit/objects/split";
@import "compass-inuit/objects/this-or-this";
@import "compass-inuit/objects/link-complex";
@import "compass-inuit/objects/flyout";
@import "compass-inuit/objects/arrows";
@import "compass-inuit/objects/sprite";
@import "compass-inuit/objects/icon-text";
@import "compass-inuit/objects/beautons";
@import "compass-inuit/objects/lozenges";
@import "compass-inuit/objects/rules";
@import "compass-inuit/objects/stats";
@import "compass-inuit/objects/greybox";

// Helpers
@import "compass-inuit/generic/widths";
@import "compass-inuit/generic/push";
@import "compass-inuit/generic/pull";
@import "compass-inuit/generic/brand";
@import "compass-inuit/generic/helper";
@import "compass-inuit/generic/debug";

/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

html{
    background-color: #fff;
    color: #333;
}
.wrapper{
    max-width: 960px;
    padding: 0 24px;
    margin: 0 auto;
}
.footer{
    margin-bottom: 0;
}
